<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chenxin.playojbackendquestionservice.mapper.UserQuestionMapper">

    <resultMap id="BaseResultMap" type="com.chenxin.playojbackendmodel.model.entity.UserQuestion">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="language" column="language" jdbcType="VARCHAR"/>
            <result property="questionId" column="questionId" jdbcType="BIGINT"/>
            <result property="userId" column="userId" jdbcType="BIGINT"/>
            <result property="code" column="code" jdbcType="VARCHAR"/>
            <result property="status" column="status" jdbcType="INTEGER"/>
            <result property="judgeInfo" column="judgeInfo" jdbcType="VARCHAR"/>
            <result property="createTime" column="createTime" jdbcType="TIMESTAMP"/>
            <result property="updateTime" column="updateTime" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,language,questionId,
        userId,code,status,
        judgeInfo,createTime,updateTime
    </sql>
</mapper>
